@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cãotinho AuMiau</title>
    
    
    <link rel="icon" type="image/png" href="~/imagens/paw-icon.png" />
    
    
    <!-- fontes locais -->
    <link href="~/lib/fonts/Poppins.css" rel="stylesheet" />
    
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/bundle.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />

    
    
    
    @RenderSection("Styles", required: false)
</head>
<body>
    
    @await Html.PartialAsync("~/Views/Shared/_SlidebarAdmin.cshtml")
    
    <div class="conteudo-principal">
        @RenderBody()
    </div>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/shared/slidebar.js" asp-append-version="true"></script>
    
    
    @RenderSection("Scripts", required: false)
</body></html> 