


<header class="cabecalho">
    <a href="@Url.Action("Index", "Home")" class="logo-link">
        <div class="logo-container">
            <div class="logo-icon">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="logo-titulo">
                <div class="logo-principal">CãotinhoAuMiau</div>
                <div class="logo-subtitulo">Adoção Responsável</div>
            </div>
        </div>
    </a>
    <div class="acoes-cabecalho">
        @if (User?.Identity?.IsAuthenticated == true)
        {
            <div style="display: flex; align-items: center; gap: 5px;">
                <div class="container-notificacoes">
                    <div class="icone-notificacao" id="notificacoes-icone">
                        <i class="fas fa-bell"></i>
                        @if (ViewBag.NotificacoesNaoLidas != null && ViewBag.NotificacoesNaoLidas > 0)
                        {
                            <div class="contador-notificacoes" id="notificacoes-contador">@ViewBag.NotificacoesNaoLidas</div>
                        }
                    </div>
                </div>
                
                <div class="menu-hamburguer" id="btnMenuHamburguer">
                    <div class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        }
        <div class="acoes-usuario">
            @if (User.Identity.IsAuthenticated)
            {
                
                
            }
            else
            {
                
                <a href="@Url.Action("Login", "Autenticacao")" class="btn-login">
                    <i class="fa-solid fa-right-to-bracket"></i> Entrar
                </a>
                <a href="@Url.Action("Cadastro", "Autenticacao")" class="btn-cadastro">
                    <i class="fa-solid fa-user-plus"></i> Cadastrar
                </a>
            }
        </div>
        
    </div>
</header>

<div class="menu-sobreposicao"></div>


@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("_Slidebar")
}

