        
        .modal {
            z-index: 1050 !important;
        }
        .modal-backdrop {
            z-index: 1040 !important;
        }
        .barra-lateral {
            z-index: 100 !important;
        }
        .modal-open {
            overflow: auto !important;
            padding-right: 0 !important;
        }
        body.modal-open .conteudo-principal {
            filter: none !important;
        }
        
        
        body {
            font-family: 'Poppins', sans-serif;
        }
        
        .cartao-status .numero {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
        }
        
        .cartao-status .rotulo {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }
        
        
