* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-baloo;
  background-color: $background-color;
  color: $text-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
